@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: 'Noto Serif', serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared-style */
.display-flex {
  display: flex;
}
.color-2 {
  color: #e95a08;
}
.color-3 {
  color: rgba(0, 0, 0, 0.5);
}
.btn-primary {
  width: 200px;
  height: 50px;
  background-color: #e95a08;
  border: none;
  color: white;
}

/* nav-bar-style */
.nav-bar {
  max-width: 1140px;
  gap: 600px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.nav {
  gap: 45px;
}
.nav li {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.color-1 {
  color: #8987a1;
}
/* banner-style */
.banner-tittle {
  font-weight: 700;
  font-size: 4.5em;
}
.banner {
  max-width: 1140px;
  display: flex;
  margin: 120px auto;
}
.banner-img {
  margin-top: 100px;
  width: 100%;
}
.banner-des {
  width: 500px;
}
/* card styles */
.card {
  margin: 120px auto;
  max-width: 1140px;
}
.card-tittle {
  font-weight: 700;
  font-size: 3.8em;
  text-align: center;
  margin-bottom: 10px;
}
.card-tittle-des {
  text-align: center;
  margin-top: 10px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}
.cards-item,
.cards-item-p {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 2px;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* sec banner styles */
.sec-banner {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
}
.sec-banner-tittle {
  font-size: 700;
  font-size: 3em;
  width: 500px;
}
.sec-banner-img {
  width: 100%;
}
.badge img {
  width: 200px;
  height: 200px;
  margin-left: -200px;
  margin-top: -80px;
}
/* responsive design */
@media screen and (max-width: 576px) {
  .nav-bar {
    max-width: 100%;
    gap: 0px;
    padding: 0px 10px;
  }
  .nav li {
    display: none;
  }
  .nav li:last-child {
    display: block;
  }
  .nav-logo {
    display: block;
    max-width: 120px;
  }
  .nav-bar {
    gap: 150px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-tittle {
    font-size: 1.8em;
  }
  .banner-des {
    max-width: 100%;
  }
  .cards-container {
    grid-template-columns: repeat(2, 4fr);
    gap: 10px;
  }
  .cards img {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .sec-banner {
    flex-direction: column;
  }
  .badge img {
    display: none;
  }
  .sec-banner-img img {
    width: 100%;
  }
}
